---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/Turing-Machine"> Turing Machine</a>
                            <p> Implements a turing machine, a mathematical model of computation that manipulates symbols on a strip of tape according to a table of rules, using C++.</p>
                            <a href="https://github.com/bernadetteveni/Turing-Machine" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/Grid-Based-Combat-Game"> Grid-Based Combat Game</a>
                            <p> A C++/C program that implements a 'Walk-To' algorithm which allows a monster in a grid-based computer game to walk to the target (player's) position.</p>
                            <a href="https://github.com/bernadetteveni/Grid-Based-Combat-Game" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/B-Tree-File-Indexing"> B-Tree File Indexing</a>
                            <p>Implements a C++ program which indexes a file containing U.S. census records for 100 adults using B-tree algorithms.</p>
                            <a href="https://github.com/bernadetteveni/B-Tree-File-Indexing" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
