---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://www.youtube.com/watch?v=ykdULHQijP4"> Security and Encryption in the Government of Canada's COVID Alert Application</a>
                            <p> An analysis of the security and encryption measures used in the Government of Canada's COVID Alert application.</p>
                            <a href="https://www.youtube.com/watch?v=ykdULHQijP4" class="btn zoombtn">Watch Video</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/Wake-Engage-Application"> Wake Engage Application</a>
                            <p> Wake Engage is a mobile application that provides alarm clock functionality merged with three mind-stimulating games: Sum-Up, 8-Puzzle, and The Simon Game. Once the alarm clock rings the user can only turn off the alarm by first engaging in one of the simple and fun games. This alarm clock is sure to assist those who routinely turn their alarm clock off and go back to sleep - sometimes numerous times. Created in Javascript using the Expo framework (React Native).</p>
                            <a href="https://github.com/bernadetteveni/Wake-Engage-Application" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/UR-QnA-Application"> UR QnA Application</a>
                            <p> UR QnA is a web-based chat system that will provide a convenient and efficient platform for University of Regina students to ask questions they have about the University during the COVID-19 pandemic using an online chatbot. If the chatbot is unable to assist them, users will have the ability to schedule an appointment with a front-desk staff member to chat on a one-on-one basis. Created in Javascript using the Vue.js framework.</p>
                            <a href="https://github.com/bernadetteveni/UR-QnA-Application" class="btn zoombtn">Read More</a>
                        </li>
                         <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/React-Native-Calculator-Application"> React Native Calculator Application </a>
                            <p> A simple, non-scientific "10-key" calculator with dark/light mode and vibration feedback. Created in Javascript using the Expo framework (React Native).</p>
                            <a href="https://github.com/bernadetteveni/React-Native-Calculator-Application" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/Covid-BusinessPro-Application"> Covid BusinessPro Web Application</a>
                            <p> The Covid BusinessPro web application is designed to collect information to aid with the response to the COVID-19 pandemic. Information will be gathered by user's responses to a series of well-designed questions that assist with isolation efforts and contact tracing. The app provides graphical representation of user data and trends. Created using HTML/CSS, JavaScript, PHP, MySQL, JQuery/AJAX.</p>
                            <a href="https://github.com/bernadetteveni/Covid-BusinessPro-Application" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/Shared-Task-Management-Application"> Shared Task Management Application</a>
                            <p> A shared task management application using the Node.js stack. In particular the MongoDB and Mongoose packages to implement the database of the application, and Passport to add secure authentication.</p>
                            <a href="https://github.com/bernadetteveni/Shared-Task-Management-Application" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/Group-Chat-Application"> Group Chat Application</a>
                            <p> A simple group chat application using the Node.js stack, HTML and Bootstrap.</p>
                            <a href="https://github.com/bernadetteveni/Group-Chat-Application" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/Turing-Machine"> Turing Machine</a>
                            <p> Models a turing machine, a mathematical model of computation that manipulates symbols on a strip of tape according to a table of rules, using C++.</p>
                            <a href="https://github.com/bernadetteveni/Turing-Machine" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/Grid-Based-Combat-Game"> Grid-Based Combat Game</a>
                            <p> A C++/C program that implements a 'Walk-To' algorithm which allows a monster in a grid-based computer game to walk to the target (player's) position.</p>
                            <a href="https://github.com/bernadetteveni/Grid-Based-Combat-Game" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/B-Tree-File-Indexing"> B-Tree File Indexing</a>
                            <p> Implements a C++ program which indexes a file containing U.S. census records for 100 adults using B-tree algorithms.</p>
                            <a href="https://github.com/bernadetteveni/B-Tree-File-Indexing" class="btn zoombtn">Read More</a>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://github.com/bernadetteveni/8-Puzzle"> 8-Puzzle</a>
                            <p> The 8-puzzle is played on a 3-by-3 grid with 8 square blocks labeled 1 through 8 and a blank square (-1) with the goal to rearrange the blocks using depth first search, breadth first search, and best first search so that they are in order, using C++.</p>
                            <a href="https://github.com/bernadetteveni/8-Puzzle" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
